*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card de cadastro de dúvidas */
.card_container{
    width: 350px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px auto;
}

.card_form{
    display: flex;
    flex-direction: column;
}

.card_form input{
    padding: 5px 10px;
    border-radius: 15px;
}

.card_form textarea{
    padding: 5px 10px;
    border-radius: 15px;
}

/* --------------------------------- */

.cadastradas{
    width: 100vw;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cadastradas .card{
    position: relative;
    padding: 10px;
    width: 300px;
    height: 100%;
    background-color: skyblue;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;
}

.titulo_duvida h3{
    font-size: 20px;
    font-weight: bold;
}

.titulo_duvida span{
    font-size: 20px;
    font-weight: normal;
}

.texto_duvida{
    border-top: 2px solid black;
    width: 100%;
}

.link_botao{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 3px;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
}

.link_botao:hover{
    background-color: gray;
    color: white;
    transition: .5s ease-in-out;
}

/* -------------------------- */
.container_busca{
    width: 100vw;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card_busca{
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: skyblue;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;
    word-wrap: break-word;
}

/* Cards de exibição */
.pesquisa{
    background-color: lightgreen;
    color: black;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    padding: 5px;
    width: 350px;
    margin: 0 auto;
}