/* Sessão da página de perfil */
section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/* Deixando os dados lado a lado */
.nome, .data, .curso, .email{
    display: inline-flex;
    margin-top: 20px;
}

/* Distanciamento dos dados */
.nome h2, .data h2, .curso h2, .email h2{
    margin-left: 15px;
}

/* Estilo das letras da área de perfil */
section h2{
    font-weight: bold;
    font-size: 1.5rem;
}

section span{
    font-size: normal;
    font-size: 1.5rem;
    color: grey;
}

/* Sessão com form de atualização dos dados */
.altera_dados{
    margin-top: 30px;
}

.altera_dados div{
    margin-top: 15px;
    font-size: 1.5rem;
}

.botao_atualizar{
    padding: 5px;
    font-size: 1.3rem;
}

.altera_dados input{
    font-size: 1.2rem;
}