body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.container_resposta{
    width: 100vw;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container_resposta .card_principal{
    position: relative;
    padding: 15px;
    width: 500px;
    background-color: azure;
    margin: 15px;
    border: 1px solid black;
    border-radius: 30px;
    overflow: hidden;
    transition: .5s ease-in-out;
    word-wrap: break-word;
}

.card_inicio{
    font-size: 16px;
    font-weight: bold;
}

.card_inicio span{
    font-size: 16px;
    font-weight: normal;
}

.card_duvida{
    border-top: 1px solid black;
}

.card_duvida p::first-letter{
    text-transform: capitalize;
}

.card_inicio, .card_duvida{
    padding: 10px 0px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    margin: 0px auto;
    padding: 15px;
}

form{
    display: flex;
    flex-direction: column;

    padding: 5px;
    width: 80vw;
}

input{
    height: 30px;
}

form button{
    margin: 0 auto;
    padding: 5px;
    width: 100px;
    margin-top: 10px;
}

.resposta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 5px;
    width: 100vw;
}

.resposta .resposta_barra{
    position: relative;
    padding: 10px;
    width: 500px;
    border: 1px solid black;
}

.resposta div{
    padding: 3px;
}

.resposta div:first-child{
    border-bottom: 1px solid black;
}