/* Variaveis de cores */
:root{
    --cor-gradiente: linear-gradient(to bottom right, #011B4A 0%, #014F86 100%);
    --cor-detalhes-letras: gray;
    --cor-escrita: aqua;
}

/* Configurações da página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tirando a barra de rolagem */
::-webkit-scrollbar{
    overflow-y: hidden;
}

/* configurações gerais */
main{
    display: flex;
    justify-content: center;
}

/* Campo da esquerda */
#esquerda img{
    display: flex;
    width: 50vw;
    height: 100vh;
}

/* Campo da direita */
#direita{
    width: 50vw;
    height: 100vh;
    background: var(--cor-gradiente);
}

/* Posição da logo */
.dados_ordem{
    margin-top: 20vh;
    font-size: 16px;
}

/* Organizando a logo */
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: white;
}

/* Posição dos link de redirecionamento */
.links_pages{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    font-size: 1.3rem;
}

/* Estilização dos links de redirecionamento */
.links_pages a, h3{
    color: gray;
    text-decoration: none;
    font-weight: normal;
    padding: 0px 30px;
}

/* Animação dos links de redirecionamento */
nav a::after{
    content: "";
    width: 0%;
    height: 3px;
    border-radius: 30px;
    background-color: var(--cor-escrita);
    display: flex;
    margin-top: 5px;
}

nav a:hover::after{
    width: 100%;
    transition: .3s;
}

/* Formulário de login*/
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Distanciamento dos inputs */
form input{
    margin: 15px;
}

/* Formato dos inputs */
.detalhe{
    padding: 5px;
    width: calc(50vw - 25vw);
    background: none;
    border: none;
    border-bottom: 1px solid gray;
}

.detalhe:focus{
    outline: 0;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    color: var(--cor-escrita);
}

/* Formulário cadastro */
.form_cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_cadastro input{
    margin: 10px;
}

/* Botões das páginas de login e cadastro */
.buttom{
    margin-top: 10vh;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    background: none;
    border: 1px solid gray;
    color: gray;
    text-align: center;
    text-decoration: none;
}

.buttom:hover{
    background-color: aqua;
    font-weight: bold;
    transition: .2s;
    color: black;
}

/* Distanciamento da logo - Cadastro */
.logo_cadastro{
    margin-top: 10%;
}

/* Cor da escrita dos inputs */
input{
    color: var(--cor-escrita);
}
/*
p .aviso{
    background-color: lightpink;
    padding: 5px;
    border-radius: 30px;
    border: none;
}